@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')

$green-theme: rgb(34, 193, 195)
$yellow-theme: rgb(253, 187, 45)
$light-border: #eaeaea
$lighter-text: #757575
$darker-text: #9E9E9E

$mobile-width: 720px
$smaller-screens: 1300px
$font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
$code-font: 'JetBrains Mono', Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace

=gradientText
  background: linear-gradient(to left, $yellow-theme 0%, $green-theme 100%)
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent